.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;

  @media (min-width: $sm) {
    width: 560px;
    padding: 0 30px;
  }

  @media (min-width: $md) {
    width: 740px;
    padding: 0 40px;
  }

  @media (min-width: $lg) {
    width: 930px;
    padding: 0 50px;
  }

  @media (min-width: $xl) {
    padding: 0;
    width: 1100px;
  }

  @media (min-width: $xxl) {
    width: 1170px;
  }
}
