.contacts {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $lg) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 48px;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: 20px;
  text-decoration: none;
  color: inherit;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  transition: $transition;

  &--email {
    background-image: url("../../img/icons/stack.svg#email");
  }

  &--vk {
    background-image: url("../../img/icons/stack.svg#vk");
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:active {
    opacity: 0.3;
  }
}
